/* label color */
  .input-field label {
    color: fuchsia;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label, .input-field textarea:focus + label {
    color: fuchsia;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus, .input-field textarea:focus {
    border-bottom: 1px solid fuchsia;
    box-shadow: 0 1px 0 0 fuchsia;
  }
  /* valid color */
  .input-field input[type=text].valid, .input-field textarea.valid {
    border-bottom: 1px solid fuchsia;
    box-shadow: 0 1px 0 0 fuchsia;
  }
  /* invalid color */
  .input-field input[type=text].invalid, .input-field textarea.invalid {
    border-bottom: 1px solid fuchsia;
    box-shadow: 0 1px 0 0 fuchsia;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: fuchsia;
  }
  button {
    background-color: fuchsia;
  }
  button:hover, button:active, button:link, button:focus {
    background: transparent;
    color: fuchsia;
    border: 0.1em solid fuchsia;
    box-sizing: border-box;
  }