.input-field label {
  color: fuchsia;
}
.input-field input[type=text]:focus + label{
  color: fuchsia;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid fuchsia;
  box-shadow: 0 1px 0 0 fuchsia;
}
.input-field input[type=text].valid {
  border-bottom: 1px solid fuchsia;
  box-shadow: 0 1px 0 0 fuchsia;
}
.input-field input[type=text].invalid, .input-field textarea.invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
.input-field .prefix.active {
  color: fuchsia;
}
.navbar-brand {
    color: white;
    text-shadow: 0 0 0.2em fuchsia;
    letter-spacing: 7px;
    font-size: 2.2em;
}/*
.nav, .navbar-form {
  background-color: #2d2d30;
  height: 2EM;
}*/
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border-bottom: 0.2em solid fuchsia;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
  background-color: white;
  width: 23em;
  font-size: 0.8em;
}
.dropdown-menu li a:hover {
  background-color: fuchsia !important;
}